@font-face {
  font-family: "ChinaCyr";
  src: url("../fonts/7fonts.ru_ChinaCyr.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../fonts/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf");
}
.wrapper {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 420px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
html {
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  font-family: "ChinaCyr";
  overflow-x: hidden;
  height: 100%;
}
header {
  margin-bottom: 115px;
}
@media screen and (max-width: 768px) {
  header {
    margin-bottom: 210px;
  }
}
@media screen and (max-width: 576px) {
  header {
    margin-bottom: 146px;
  }
}
.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
}
.debug > div {
  height: inherit;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 420px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 420px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.debug > div > div {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.debug > div > div > div {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(8.333333333333334% - 30px);
  height: inherit;
  outline: 1px dotted #a69ed4;
  background: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}
.navbar {
  z-index: 99999;
  font-family: "Roboto-Thin";
}
.navbar {
  opacity: 0.9;
  background: #580712;
}
.navbar {
  font-family: "China2";
}
.navbar .container .mini-logo {
  width: 30px;
  margin-right: 10px;
}
#navbarSupportedContent > ul > li.nav-item.active > a {
  font-family: "China2";
}
.header-img {
  margin-top: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.637);
}
.header-img img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .header-img {
    margin-top: 158px;
  }
}
.nav-manu-link {
  position: fixed;
  z-index: 9999;
  background-image: linear-gradient(to top, #8b0808, #780014, #620018, #4c0019, #350216);
  width: 100%;
}
.nav-manu-link .container .row {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 576px) {
  .nav-manu-link .container .row {
    margin-top: 90px;
  }
}
.nav-manu-link .container .row .nav-manu-link-item {
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.6;
  transition: 0.5s;
}
@media screen and (max-width: 576px) {
  .nav-manu-link .container .row .nav-manu-link-item {
    margin-top: 0px;
    opacity: 1;
  }
}
.nav-manu-link .container .row .nav-manu-link-item:hover {
  opacity: 1;
}
.nav-manu-link .container .row .nav-manu-link-item a {
  color: white;
  display: block;
}
.nav-manu-link .container .row .nav-manu-link-item a img {
  margin-top: 5px;
  width: 30px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .nav-manu-link .container .row .nav-manu-link-item a img {
    margin-top: 0px;
    width: 25px;
  }
}
.nav-manu-link .container .row .nav-manu-link-item a p {
  margin-top: 5px;
  font-size: 12px;
  transition: 0.5s;
  font-family: "Roboto-Thin";
}
@media screen and (max-width: 576px) {
  .nav-manu-link .container .row .nav-manu-link-item a p {
    font-size: 8px;
  }
}
.about {
  width: 100%;
  height: 300px;
}
.about h1 {
  font-size: 25px;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 768px) {
  .about h1 {
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
  }
}
@media screen and (max-width: 576px) {
  .about h1 {
    font-size: 16px;
  }
}
.about .article {
  font-size: 25px;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 768px) {
  .about .article {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .about .article {
    font-size: 16px;
  }
}
.adv-blog {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.adv-blog .item .row {
  display: flex;
  justify-content: space-around;
}
.adv-blog .item .row img {
  height: 100%;
}
.adv-blog .item .row .article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 2px 2px 5px black;
}
.adv-blog .item .row .article h2 {
  color: yellow;
  font-size: 25px;
}
@media screen and (max-width: 576px) {
  .adv-blog .item .row .article h2 {
    margin: 20px 0;
    font-size: 20px;
  }
}
.adv-blog .item .row .article h2 span {
  font-size: 40px;
  color: red;
}
@media screen and (max-width: 576px) {
  .adv-blog .item .row .article h2 span {
    font-size: 25px;
  }
}
.adv-blog .item .row .article .icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}
@media screen and (max-width: 576px) {
  .adv-blog .item .row .article .icon {
    width: 60px;
    height: 60px;
  }
}
.adv-blog .item .row .article h3 {
  font-size: 45px;
  color: #a8dfff;
  margin: 10px 0;
}
@media screen and (max-width: 576px) {
  .adv-blog .item .row .article h3 {
    font-size: 25px;
  }
}
.adv-blog .item .row .article h3 span {
  color: red;
}
.adv-blog .item .row .article p {
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 576px) {
  .adv-blog .item .row .article p {
    font-size: 16px;
    margin: 10px 0;
  }
}
.adv-blog .item .row .article p span {
  font-size: 40px;
  color: #00d800;
}
@media screen and (max-width: 576px) {
  .adv-blog .item .row .article p span {
    font-size: 26px;
  }
}
.delivery {
  background: url(../img/bg_body.jpg);
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.219);
}
.delivery .delivery-header {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .delivery .delivery-header {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  .delivery .delivery-header {
    font-size: 30px;
  }
}
.delivery {
  font-size: 50px;
}
.delivery .del-icon img {
  display: block;
  width: 10%;
  margin: 0px auto;
}
@media screen and (max-width: 576px) {
  .delivery .del-icon img {
    width: 30%;
  }
}
.delivery .card {
  background: url(../img/bgg_3.jpg);
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .delivery .card {
    background-position: 30%;
  }
}
.about_delivery {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}
.about_delivery .item .font-size_icons {
  font-size: 80px;
  color: #d9ff00;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 768px) {
  .about_delivery .item .font-size_icons {
    font-size: 60px;
  }
}
@media screen and (max-width: 576px) {
  .about_delivery .item .font-size_icons {
    font-size: 50px;
  }
}
.about_delivery .item .heading {
  font-size: 50px;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 768px) {
  .about_delivery .item .heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  .about_delivery .item .heading {
    font-size: 30px;
  }
}
.about_delivery .item .content-bottom {
  font-size: 30px;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 768px) {
  .about_delivery .item .content-bottom {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .about_delivery .item .content-bottom {
    font-size: 20px;
  }
}
.about_delivery .item .content-bottom span {
  font-size: 40px;
  color: RED;
}
@media screen and (max-width: 768px) {
  .about_delivery .item .content-bottom span {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  .about_delivery .item .content-bottom span {
    font-size: 30px;
  }
}
.containerParalax {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background: url(../img/beer23.jpg);
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .containerParalax {
    height: 60vh;
  }
}
.containerParalax .col-left {
  width: 30%;
  margin-left: 10%;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-left {
    width: 0%;
  }
}
.containerParalax .col-right {
  width: 50%;
  margin-right: 10%;
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-right {
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.157);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  }
}
.containerParalax .col-right h3 {
  display: block;
  font-family: Roboto-ThinItalic;
  font-size: 50px;
  z-index: 9999;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  z-index: 0;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-right h3 {
    font-size: 25px;
    position: relative;
    top: -30px;
  }
}
.containerParalax .col-right h3 span {
  color: #235d37;
  font-weight: bold;
  font-family: Roboto-Thin;
  font-size: 60px;
  text-shadow: 1px 1px 1px #ffffff;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-right h3 span {
    font-size: 35px;
  }
}
.containerParalax .col-right img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-right img {
    width: 150px;
    position: relative;
    top: -50px;
  }
}
.containerParalax .col-right a {
  display: block;
  border: 1px solid white;
  border-radius: 40px;
  background: rgba(12, 12, 12, 0.068);
  transition: 1s;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-right a {
    background: rgba(0, 0, 0, 0.192);
    position: relative;
    top: -50px;
  }
}
.containerParalax .col-right a:hover {
  background: #3c6e25;
  text-shadow: 1px 1px 1px #000000;
}
.containerParalax .col-right a p {
  display: block;
  font-family: Roboto-Thin;
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 5px 20px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .containerParalax .col-right a p {
    font-size: 25px;
    font-weight: 100;
    padding: 5px 10px;
  }
}
.separator {
  height: 100px;
  width: 100%;
  background-image: radial-gradient(circle, #690202, #570407, #450609, #330807, #230303);
  box-shadow: 0px 0px 10px 0px #00000078;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .separator {
    height: 50px;
  }
}
.separator .mini-logo {
  display: block;
  height: 80px;
  width: 80px;
  margin: 10px 0;
}
@media screen and (max-width: 576px) {
  .separator .mini-logo {
    height: 40px;
    width: 40px;
    margin: 5px 0;
  }
}
@media screen and (max-width: 576px) {
  .about-menu .parallax-window {
    background-image: linear-gradient(to top, #1f0000, #270405, #2e060b, #370610, #410415, #400415, #400514, #3f0514, #35070f, #2b070a, #230405, #190000) !important;
  }
}
@media screen and (max-width: 576px) {
  .about-menu .parallax-window .hide-small-screen {
    display: none;
  }
}
.about-menu .parallax-window .about-menu-article {
  max-width: 800px;
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
  margin: 0px auto;
}
@media screen and (max-width: 576px) {
  .about-menu .parallax-window .about-menu-article {
    font-size: 30px;
  }
}
.about-menu .parallax-window .about-menu-article span {
  font-size: 50px;
  color: red;
}
@media screen and (max-width: 576px) {
  .about-menu .parallax-window .about-menu-article span {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .about-menu .parallax-window .about-menu-article {
    font-size: 20px;
  }
}
.about-menu .parallax-window .about-menu-price {
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
}
hr.separator-line:after {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.863);
  content: "";
  height: 10px;
  left: 50%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}
hr.separator-line {
  border-top: 1px dotted rgba(255, 255, 255, 0.445);
  width: 50%;
  clear: both;
}
.menu .menu-item {
  border-right: 1px dotted #383737;
  border-left: 1px dotted #383737;
}
.menu .menu-item .content-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu-item .content-menu-item .header-menu-item {
  font-size: 30px;
  color: #ffc400;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 576px) {
  .menu .menu-item .content-menu-item .header-menu-item {
    font-size: 15px;
  }
}
.menu .menu-item .content-menu-item .about-menu-item {
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .menu .menu-item .content-menu-item .about-menu-item {
    font-size: 15px;
  }
}
.menu .menu-item .content-menu-item .button-menu-item {
  cursor: pointer;
  margin-top: auto;
  width: auto;
  background: rgba(255, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.418);
  border-radius: 5px;
  text-decoration: none;
  padding: 8px;
  color: #ffc400;
  transition: all 0.7s;
}
.menu .menu-item .content-menu-item .button-menu-item:hover {
  background: #ffc400;
  color: black;
}
.photo-gallery {
  background: #161616;
}
.footer {
  width: 100%;
  background: #111111;
  height: 200px;
}
.headerdive {
  text-align: center;
  position: relative;
}
.headerdive .headerdive2 {
  margin: 0 auto;
  display: inline-table;
  margin-top: 25px;
  z-index: 2;
}
ul {
  padding: 0px;
  display: flex;
  margin: 0 auto;
  z-index: 99;
}
a:link {
  text-decoration: none;
}
ul li {
  list-style: none;
  color: black;
}
ul li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s;
  color: black;
}
ul li a:hover {
  color: black;
}
ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s;
  color: black;
}
ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: right;
  color: black;
}
ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s;
  color: black;
}
ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  color: black;
}
.about-menu .parallax-window .container {
  position: relative;
  width: 100%;
  margin: 0px auto 0;
  padding: 0;
}
.about-menu .parallax-window .container .box {
  background: #000;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.about-menu .parallax-window .container .box:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: translateX(0);
  transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}
.about-menu .parallax-window .container .box:hover:before {
  transform: scaleX(1);
  opacity: 1;
}
.about-menu .parallax-window .container .box:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: translateY(0);
  opacity: 0;
  transform: scaley(0);
  z-index: 1;
}
.about-menu .parallax-window .container .box:hover:after {
  transform: scaleY(1);
  opacity: 1;
}
.about-menu .parallax-window .container .box .imgBox {
  position: relative;
}
.about-menu .parallax-window .container .box .imgBox img {
  width: 100%;
  transition: .5s;
  overflow: hidden;
}
.about-menu .parallax-window .container .box:hover .imgBox img {
  opacity: .2;
  transform: scale(1.2);
}
.about-menu .parallax-window .container .box .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  box-sizing: border-box;
  text-align: center;
}
.about-menu .parallax-window .container .box .content h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  transition: .5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}
.about-menu .parallax-window .container .box .content .pe {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #fff;
  transition: .5s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  text-shadow: 2px 2px 5px black;
  width: 60%;
  margin: 0 auto;
}
.about-menu .parallax-window .container .box:hover .content h2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  text-shadow: 2px 2px 5px black;
}
.about-menu .parallax-window .container .box:hover .content .pe {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  text-shadow: 2px 2px 5px black;
}
.about-menu .parallax-window .container .box .content .pepe {
  color: white;
  font-size: 30px;
  opacity: 1;
  visibility: visible;
  transform: translateY(75%);
  text-shadow: 2px 2px 5px black;
}
.about-menu .parallax-window .container .box:hover .content .pepe {
  color: white;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px black;
}
.footer-distributed {
  background-color: #0e0d0d;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer-distributed .mini-logo {
  width: 15%;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}
/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: #5383d3;
}
/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}
/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.menu-header {
  height: 65vh;
  position: relative;
  overflow: hidden;
  background: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/4705.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.7;
  animation: transform 15s infinite;
  background-position-y: 10px;
}
@media screen and (max-width: 576px) {
  .menu-header::after {
    height: 65vh;
  }
}
@keyframes transform {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.cart {
  position: fixed;
  right: 150px;
  bottom: 50px;
  z-index: 9999;
  height: 65px;
  width: 65px;
  background-color: #3bb433;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.431);
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;
}
.cart:hover {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .cart {
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 50px;
  }
}
.cart .fas {
  position: relative;
  color: white;
  font-size: 35px;
  top: 13px;
}
@media screen and (max-width: 576px) {
  .cart .fas {
    font-size: 35px;
    top: 12px;
  }
}
.cart .sum {
  position: relative;
  top: 10px;
  background: red;
  border-radius: 5%;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .cart .sum {
    font-weight: normal;
  }
}
.menu-header-content {
  position: relative;
  z-index: 1;
}
.menu-header-content h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 576px) {
  .menu-header-content h1 {
    font-size: 30px;
  }
}
.menu-body-content {
  background: url(../img/bg_4.jpg) !important;
  background-size: cover;
  background-attachment: fixed !important;
}
@media screen and (max-width: 576px) {
  .menu-body-content {
    background-image: linear-gradient(to right, #570505, #670407, #770307, #870107, #980005, #960006, #940006, #920007, #7e0009, #69010a, #550207, #420303) !important;
  }
}
.menu-body-content .image-dishes {
  width: 15%;
  opacity: 0.8;
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (max-width: 576px) {
  .menu-body-content .image-dishes {
    width: 40%;
  }
}
.menu-body-content .item-container .item-container-header h2 {
  font-size: 35px;
  margin: 10px;
}
.menu-body-content .item-container .items {
  display: flex;
  justify-content: center;
}
.menu-body-content .item-container .items .card-tems {
  border: 1px dotted rgba(255, 255, 255, 0.239);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.157);
  border-radius: 3px;
}
.menu-body-content .item-container .items .card-tems:hover {
  background: rgba(47, 47, 47, 0.157);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}
.menu-body-content .item-container .items .card-tems .header-item {
  color: #ffb62d;
  padding: 5px;
  background: rgba(255, 0, 0, 0.191);
  border-radius: 5px;
  font-size: 15px;
}
.menu-body-content .item-container .items .card-tems img {
  transition: 0.6s;
}
.menu-body-content .item-container .items .card-tems .weight-item {
  margin-top: 5px;
  color: orange;
  font-size: 15px;
  opacity: 0.8;
}
.menu-body-content .item-container .items .card-tems .weight-item:hover {
  opacity: 1;
}
.menu-body-content .item-container .items .card-tems .weight-item:active {
  color: white;
}
.menu-body-content .item-container .items .card-tems .about-item {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.671);
  font-size: 10px;
}
.menu-body-content .item-container .items .card-tems .about-cost {
  margin-top: auto;
  font-size: 25px;
  color: yellow;
  margin-bottom: 5px;
}
.menu-body-content .item-container .items .card-tems .buttons {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px dotted rgba(255, 255, 255, 0.295);
  padding-top: 5px;
}
.menu-body-content .item-container .items .card-tems .buttons .minus {
  color: yellow;
  transition: 1s;
}
.menu-body-content .item-container .items .card-tems .buttons .delite {
  color: red;
  transition: 1s;
}
.menu-body-content .item-container .items .card-tems .buttons .plus {
  color: green;
  transition: 1s;
  display: flex;
}
@media screen and (max-width: 576px) {
  .menu-body-content .item-container .items .card-tems .buttons .plus {
    color: white;
  }
}
.menu-body-content .item-container .items .card-tems .buttons .plus p {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 0;
}
.menu-body-content .item-container .items .card-tems .buttons button {
  margin: 0;
  padding: 5px 15px;
  width: 30%;
  border: none;
  display: flex;
  justify-content: center;
  outline-style: none !important;
  box-shadow: none;
}
@media screen and (max-width: 576px) {
  .menu-body-content .item-container .items .card-tems .buttons button {
    width: 20%;
  }
}
.menu-body-content .item-container .items .card-tems .buttons button .far {
  font-size: 30px;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  opacity: 0.5;
}
.menu-body-content .item-container .items .card-tems .buttons button .far:hover {
  opacity: 1;
}
.menu-body-content .item-container .items .card-tems .buttons button .far:active {
  color: white;
}
.heigth {
  width: 100%;
  height: 65px;
  margin-top: 50px;
}
@media screen and (max-width: 576px) {
  .heigth {
    height: 85px;
  }
}
.form {
  background: white !important;
}
.modal {
  margin-top: 100px;
}
@media screen and (max-width: 576px) {
  .modal {
    margin-top: 120px;
  }
}
.modal .modal-dialog {
  border: 1px dotted rgba(255, 255, 255, 0.109);
  border-radius: 1%;
}
.modal .modal-dialog .modal-content {
  opacity: 0.7;
  background-image: radial-gradient(circle, #a50000, #8f0004, #790005, #640004, #4f0000);
  display: flex;
  justify-content: center;
}
.modal .modal-dialog .modal-content .mini-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  color: white;
}
@media screen and (max-width: 576px) {
  .modal .modal-dialog .modal-content .mini-cart {
    min-height: 400px;
    max-height: 400px;
  }
}
.modal .modal-dialog .modal-content .mini-cart h3 {
  color: yellow;
  font-size: 40px;
  text-shadow: 2px 2px 15px black;
}
@media screen and (max-width: 576px) {
  .modal .modal-dialog .modal-content .mini-cart h3 {
    font-size: 25px;
  }
}
.modal .modal-dialog .modal-content .mini-cart button a {
  text-decoration: none;
  color: white;
}
.bacground-gredient {
  background-image: linear-gradient(to right top, #a6ddaa, #da9a48, #8d1c47, #69071b, #890017, #a10029, #b9023e, #d10a55, #d53b8d, #c962bf, #b085e6, #90a4ff);
  background-size: 300% 300%;
  animation: gredient 7s ease infinite;
}
.bacground-gredient .cartbg {
  background: url(../img/chinaBGcity.png);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.691);
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg {
    background: url(../img/chinaBGcityMOBILE.png);
    background-size: 1000px;
    background-repeat: no-repeat;
  }
}
.bacground-gredient .cartbg .wrapper {
  position: relative;
}
.bacground-gredient .cartbg .wrapper .cart-body {
  color: rgba(255, 255, 255, 0.596);
}
.bacground-gredient .cartbg .wrapper .cart-body .cart-body-header h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 15px black;
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .cart-body-header h1 {
    font-size: 25px;
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body {
  display: flex;
  justify-content: center;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 {
  border: 1px dotted rgba(255, 254, 254, 0.315);
  background: rgba(104, 8, 29, 0.452);
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.739);
  margin: 20px;
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.739);
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3:hover {
  background: rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.281);
  backdrop-filter: blur(4px);
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders {
    height: 380px;
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .name-order {
  background: rgba(255, 0, 0, 0.226);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: yellow;
  font-size: 22px;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .description-order {
  padding: 10px;
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .description-order {
    font-size: 14px;
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .weight-order {
  color: yellow;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .quantity-order {
  color: yellow;
  font-size: 30px;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .cost-order {
  margin-top: auto;
  color: yellow;
  font-size: 30px;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px dotted rgba(255, 255, 255, 0.295);
  padding-top: 5px;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons .minus {
  color: yellow;
  transition: 1s;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons .delite {
  color: red;
  transition: 1s;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons .plus {
  color: green;
  transition: 1s;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons button {
  margin: 0;
  padding: 5px 15px;
  width: 30%;
  border: none;
  display: flex;
  justify-content: space-between;
  outline-style: none !important;
  box-shadow: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons button {
    width: 20%;
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons button .far {
  font-size: 35px;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons button .far:hover {
  opacity: 1;
}
.bacground-gredient .cartbg .wrapper .cart-body .goods-out-cold .cart-orders-body .col-md-3 .background-orders .buttons button .far:active {
  color: white;
}
.bacground-gredient .cartbg .wrapper .cart-body .common-cost-orders {
  padding: 100px 0;
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .common-cost-orders {
    padding: 30px 0;
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .common-cost-orders .common-cost-orders-article {
  font-size: 40px;
  margin: 15px;
  color: yellow;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .common-cost-orders .common-cost-orders-article {
    font-size: 25px;
  }
}
.bacground-gredient .cartbg .wrapper .cart-body .common-cost-orders .common-cost-orders-summ {
  margin: 0 auto;
  margin-top: 20px;
  width: 40%;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
  border: 1px solid rgba(255, 255, 255, 0.534);
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  .bacground-gredient .cartbg .wrapper .cart-body .common-cost-orders .common-cost-orders-summ {
    font-size: 30px;
    width: 60%;
    padding: 5px;
  }
}
@keyframes gredient {
  0% {
    background-size: 300% 300%;
    background-position: 0 50%;
  }
  50% {
    background-size: 200% 200%;
    background-position: 100% 50%;
  }
  100% {
    background-size: 300% 300%;
    background-position: 0 50%;
  }
}
.omg {
  color: white;
  opacity: 0.41;
  height: 500px;
  background-image: linear-gradient(to right top, #a6ddaa, #da9a48, #8d1c47, #69071b, #890017, #a10029, #b9023e, #d10a55, #d53b8d, #c962bf, #b085e6, #90a4ff);
}
.omg .parallax-window {
  z-index: 9999;
}
.cartbg-bottom {
  opacity: 0.2;
  height: 500px;
}
.contact-form {
  padding-bottom: 150px;
  background: url('../img/chinaBGyellow.png');
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 576px) {
  .contact-form {
    background: white;
  }
}
.contact-form .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form .contacts .contacts-header {
  margin: 50px;
  font-size: 40px;
  color: red;
  text-shadow: 2px 2px 2px #ffffff;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-header {
    margin: 25px;
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-name {
  margin: 30px;
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px 2px #ffffff;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-name {
    margin: 20px;
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-name input {
  text-align: center;
  color: black;
  font-size: 22px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.541);
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  background: rgba(255, 0, 0, 0);
  transition: 1s;
  border-radius: 15px;
}
.contact-form .contacts .contacts-name input:focus {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.342);
}
.contact-form .contacts .contacts-phone {
  font-size: 40px;
  margin: 30px;
  color: black;
  text-shadow: 2px 2px 2px #ffffff;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-phone {
    margin: 20px;
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-phone input {
  text-align: center;
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.541);
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  background: rgba(255, 0, 0, 0);
  transition: 1s;
  border-radius: 15px;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-phone input {
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-phone input:focus {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.342);
}
.contact-form .contacts .contacts-adrres {
  font-size: 40px;
  margin: 30px;
  color: black;
  text-shadow: 2px 2px 2px #ffffff;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-adrres {
    margin: 20px;
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-adrres input {
  text-align: center;
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.541);
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  background: rgba(255, 0, 0, 0);
  transition: 1s;
  border-radius: 15px;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-adrres input {
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-adrres input:focus {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.342);
}
.contact-form .contacts .contacts-description {
  font-size: 40px;
  margin: 30px;
  color: black;
  text-shadow: 2px 2px 2px #ffffff;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-description {
    margin: 20px;
    font-size: 22px;
  }
}
.contact-form .contacts .contacts-description input {
  text-align: center;
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.541);
  height: 100px;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  background: rgba(255, 0, 0, 0);
  transition: 1s;
  border-radius: 15px;
}
@media screen and (max-width: 576px) {
  .contact-form .contacts .contacts-description input {
    font-size: 20px;
  }
}
.contact-form .contacts .contacts-description input:focus {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.342);
}
.contact-form .contacts button {
  width: 200px;
  display: block;
  margin: 30px auto;
  font-size: 20px;
  transition: 0.6s !important;
  color: black !important;
  text-shadow: 1px 1px 2px #ffffff !important;
}
.contact-form .contacts button:hover {
  background: rgba(255, 0, 0, 0.65) !important;
  color: white !important;
  border: 2px solid white !important;
  text-shadow: none !important;
}
